{% extends "base.html" %}
{% block content %}
    <section class="hero has-text-centered is-warning">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Contact Us
          </h1>
        </div>
      </div>
    </section>

    <div class="tile is-ancestor">
      <div class="tile is-vertical is-12">
        <div class="tile is-link">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-info">
              <p class="subtitle">Contact Us</p>
                  <form class="pure-form pure-form-stacked">
                    <div class="field">
                      <label class="label" for="title">Title</label>
                      <input class="input" name="title" type="text" placeholder="Comment Title">
                      <label class="label" for="comment">Comment</label>
                      <input class="input" name="comment" type="comment" placeholder="Your Comment">
                    </div>
                    <button class="button is-submit" type="submit" class="button is-submit">Send Comment</button>
                  </form>
            </article>
          </div>
          <div class="tile is-parent ">
            <article class="tile is-child notification is-danger">
              <p class="subtitle">Contact Us</p>
              <p>Please reach out to Bon Appetit with any concerns about the dining hall facilities, staff, or food. We can be reached using the form.</p>
              <br>
              <p class="subtitle">Meal Plan Concerns</p>
              <p>If you have concerns about your meal plan, please contact Dining Services at mealplan@case.edu or 216-368-5844.</p>
            </article>
          </div>
        </div>
      </div>
{% endblock %}
