{% extends "base.html" %}
{% block content %}
    <div class="content">
        <h2 class="content-head is-center">Contact Us</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="title">Title</label>
                        <input id="comment" type="text" placeholder="Title">


                        <label for="comment">Comment</label>
                        <input id="comment" type="comment" placeholder="Your Comment">

                        <button type="submit" class="pure-button">Send Comment</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Contact Us</h4>
                <p>
                    Please reach out to Bon Appetit with any concerns about the dining hall facilities, staff, or food. We can be reached at 
                </p>

                <h4>Meal Plan Concerns</h4>
                <p>
                    If you have concerns about your meal plan, please contact Dining Services at mealplan@case.edu or 216-368-5844.
                </p>
            </div>
        </div>

    </div>
{% endblock %}