{% extends "base.html" %}
{% block content %}

<section class="hero has-text-centered is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ page_data["dining_hall"].name }}
      </h1>
    </div>
  </div>
</section>

<section class="section">
    <div class="container">
      <h1 class="title">Menu for {{ page_data["meal"] }}</h1>

      {% for served_item in page_data["menu"] %}
        <div class="columns">
          <div class="column"> <strong> {{served_item.menu_item.name}} </strong> </div>
          <div class="column">  Rating: {{served_item.average_rating}} </div>
          <div class="column"> <a href="/reviews/specific/{{ served_item.serve_id }}" class="button is-success">Read Reviews</a></div>
        </div>
        {% if metadata.login_state.user %}
        <div class="container">
          <form action="/actions/leave_review" method="post" enctype="multipart/form-data">
            <input type="hidden" name="serves_id" value="{{ served_item.serve_id }}">
              <fieldset>
                <div class="field has-addons">
                  <div class="select">
                    <select id="rating" name="rating" required>
                        <option value="" disabled selected>Rating</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                  </div>
                  <div class="control is-expanded">
                    <input class="input" name="comment" type="text" placeholder="Your Comment">
                  </div>
                  <button type="submit" class="button is-success"  value="leave_review">
                    <span class="icon">
                      <i class="fas fa-check"></i>
                    </span>
                  </button>
                </div>
            </form>
          <br>
        </div>
      {% endfor %}
      {% endif %}
    </div>
  </section>

  <section class="section">
      <div class="container">
        <h1 class="title">Amenities</h1>

      {% for inventory in page_data["inventory"] %}
        <div class="container">
          <div class="columns">
            <div class="column"> <strong>{{ inventory.item.name }}</strong> </div>
            <div class="column">  Status: {{ inventory.status }} </div>
            {% if metadata.login_state.user %}
            <div class="column">
              <form action="/actions/add_status" method="post" enctype="multipart/form-data">
              	<input type="hidden" name="dining_hall_name" value="{{ page_data["dining_hall"].name }}">
              	<input type="hidden" name="amenity_id" value="{{ inventory.item.item_id }}">
                <div class="field has-addons">
                  <div class="select">
                  <select required name="status" name="status">
                      <option value="" disabled selected>Status</option>
                      <option value="3">Available</option>
                      <option value="2">Limited</option>
                      <option value="0">Not Avaiable</option>
                  </select>
                  </div>
                  <div class="control">
                    <button class="button is-success" type="submit" class="button">
                      <span class="icon">
                        <i class="fas fa-check"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </section>

{% endblock %}
