{% extends "base.html" %}
{% block content %}

<section class="hero has-text-centered is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Reviews for <em>{{ page_data["served_item"].menu_item.name }}</em> at {{ page_data["served_item"].dining_hall.name }}
      </h1>
      <h2 class="subtitle">
        <a class="link" href="/contact"> In case of serious concerns, find contact information here.</a>
      </h2>
    </div>
  </div>
</section>

{% if "warning" in request.args %}
{% if request.args["warning"] == "already_reviewed" %}
<div class="notification is-danger">You already reviewed this you moron.</div>
{% endif %}
{% endif %}

<br>

{% for review in page_data["reviews"] %}
  <div class="columns">
    <div class="column"> {{ metadata.login_state.user.name }} </div>
    <div class="column"> Rating: {{ review.rating }} </div>
    <div class="column"> Comment: {{ review.comments }} </div>
  </div>
{% endfor %}

{% endblock %}
